<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入数据库连接配置文件-->
    <properties resource="db.properties"/>
    <!--使用扫描包的形式定义别名-->
    <typeAliases>
        <package name="com.cc.po"/>
    </typeAliases>
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=true"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--mapper位置-->
    <mappers>
        <mapper resource="com/cc/mapper/IdCardMapper.xml"/>
        <mapper resource="com/cc/mapper/PersonMapper.xml"/>
    </mappers>
</configuration>